@font-face {
    font-family: 'DM-Sans-Bold';
    src: url('../fonts/DmSans/DMSans_18pt-Bold.ttf');
}

@font-face {
    font-family: 'Mulish-Regular';
    src: url('../fonts/Mulish/Mulish-Regular.ttf');
}