@import 'fonts.css';

* {
  margin: 0;
  padding: 0;  
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* root start */

:root {
  --DM700:'DM-Sans-Bold';
  --M400:'Mulish-Regular';
  --gray: #696871;
  --black: #19191B;
  --orange: #FF7143;
  --blue: #5454D4;
  --lightGray: #F8F8F8;
  --darkOrange: #9F3919;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* root end */
/* ************************** */

/* header start */

.header__nav {
  padding: 30px 0 0 0;
}

.header__nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 49px;
}

.header__nav-link {
  color: var(--gray);
  font-family: var(--DM700);
  font-size: 15px;
  transition: .3s;
}

.header__nav-link:hover {
  color: var(--black);
}

.header__nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav-btn {
  color: white;
  background: var(--orange);
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: var(--DM700);
  padding: 19px 60px;
  font-size: 17px;
  cursor: pointer; 
}

.header__nav-item::after {
  content: '';
  height: 2px;
  width: 0;
  background: var(--blue);
  display: block;
  transition: .3s;
}

.header__nav-item:hover::after {
  width: 100%;
}

.header__nav-burger {
  cursor: pointer;
  display: none;
  font-size: 25px;
}

/* header end */
/* ************************ */

/* media start */

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .header__nav-list {
    display: none;
  }

  .header__nav-btn {
    display: none;
  }

  .header__nav-burger {
    display: block;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}



/* media end */
/* ************************ */